<!DOCTYPE html>
<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{% if post %}{{post.pagetitle}}{% else %}  Неразумный перфекционизм{% endif %}</title>
    <meta name="description" content="{% if post %}{{post.pagetitle}}{% endif %}">
    <link href="/static/img/favicon.ico" rel="shortcut icon" />
    <base href="{{config['BASE']}}">
    <link rel="stylesheet" href="/static/src/global/normalize.css">
    <link rel="stylesheet" href="/static/src/global/fonts.css">
    <link rel="stylesheet" href="/static/src/global/vars.css">
    <link rel="stylesheet" href="/static/src/global/reboot.css">
    <link rel="stylesheet" href="/static/src/global/global.css">

    <link rel="stylesheet" href="/static/src/components/header.css">
    <link rel="stylesheet" href="/static/src/components/minipost.css">
    <link rel="stylesheet" href="/static/src/components/postGroup.css">
    <link rel="stylesheet" href="/static/src/components/page.css">
    <link rel="stylesheet" href="/static/src/components/post.css">
    <link rel="stylesheet" href="/static/src/components/nav.css">
    <link rel="stylesheet" href="/static/src/components/tags.css">
    {% block styles %}
    {% endblock %}
</head>
<body class="page {% block body_classes %} {% endblock %}">
    <div class="header">
        <a href="/" class="header__logo" title="На главную">@gunlinux</a>
        <div class="header__nav">
            <nav class="nav">
                <a href="{{url_for('tagsb.index')}}" class="nav__link">tags</a>
                {% for page in pages %}
                    <a href="{{url_for('postb.view',alias=page.alias)}}" class="nav__link">{{page.pagetitle}}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
