{% extends "layout.html" %}

{% block content %}
    <article class="page__content">
        {% if tag %}
            <h3 class="page__title">Посты c тэгом: {{tag.title}}</h3>
        {% endif %}
    {% for group in posts|selectattr('publishedon')|groupby('publishedon.year')|sort(reverse=True)  %}
        <div class="postGroup">
            <h3 class="postGroup__title">{{group.grouper}}</h3>
            <div class="postGroup__content">
                {% for post in group.list %}
                <div class="minipost">
                    <a class="minipost__title" href="{{url_for('postb.view',alias=post.alias)}}">
                        {{post.pagetitle}}
                    </a>
                    <span class="minipost__date">
                        {{post.publishedon.strftime("%B %d, %Y")}}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </article>
{% endblock %}
