*.py[co]
.vscode
.idea
*.cache
coverage.xml
blog/static/components/*
blog/static/upload/*
gunicorn.conf
blog/static/css/styles.css.map
vhash.json
tmp
config.sh
venv
current.todo
blog/templates/_fingerprint.html
blog/static/css/style.css
blog/static/js/svg.js
server.log
blog/base.db
blog/static/css/styles.css
blog/static/js/app*.js
blog/static/css/admin.min.css
blog/static/js/admin.js
blog/static/js/admin.min.js
secret.json
node_modules
base.db
blog/static/css/style.min.css
blog/config.cfg
*.DS_Store
nohup.out
local
old
env
# Packages
*.egg
.*.swp
*.swp
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
tmp/*
coverage.xml
.env
