{% extends 'admin/model/create.html' %}
{% block head_css %}
    {{super()}}
	<link rel="stylesheet" href="/static/css/admin.css?v=bad00c159a8471ae2b789d75ed81e2da">
	<link rel="stylesheet" href="/static/components/bootstrap-markdown/css/bootstrap-markdown.min.css">
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="/static/components/bootstrap-markdown/js/bootstrap-markdown.js"></script>
	<script>
		$('#content').markdown({autofocus:false, savable:false});
	</script>
{% endblock %}
