{% extends "layout.html" %}
{% block styles %}
  <link rel="stylesheet" href="/static/css/highlight.css?v=41eb1f617edacbff67834f5bacb7cd76">
{% endblock %}
{% block content %}
  <article class="post typesettings">
    <h1 class="post__title">{{post.pagetitle}}</h1>
    
    <div class="post__date">
      {% if post.status==1 %}
        {{post.publishedon.strftime("%B %d, %Y")}}
      {% endif %}
      {% if post.status==2 %}
        Архив
      {% endif %}
    </div>

    <div class="post__body">
      {% markdown %}
        {{post.content|safe}}
      {% endmarkdown %}
    </div>
  </article>
{% endblock %}
{% block scripts %}
  <script src="/static/js/highlight.js?v=801cbf64c97da9049bf2ae4c1d18a066"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
