.header {
    text-align: center;
    font-size: 1.55rem;
    padding: 1rem 0 5rem 0;
    @media (max-width:767px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__logo {
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: left;
        &:hover {
            color: #000;
        }
    }
    &__nav {
        float: right;
    }
}
    