.header {
    text-align: center;
    font-size: 1.55rem;
    padding: 1rem 0 5rem 0;
}

.header__logo {
        font-weight: bold;
        text-decoration: none;
        color: #333;
        float: left;
}

.header__logo:hover {
    color: #000;
}

.header__nav {
    float: right;
}

@media (max-width:767px) {
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
 