.page--special {

	.post__body {
		background: #fff;
		padding: 1em;
		margin-top: 4em;
	}
	.header {
	    text-align: center;
	}

    .post {
	    &__title {
	    	text-align: center;
	        line-height: 1.1;
	        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	        font-family: 'Open-Sans', 'Helvetica', 'Arial', sans-serif;
	        color: #fff;
	        font-weight: 700;
			padding: 0 1em;
	        margin: 10px 0;
	    }

	    &__date {
	    	color: #fff;
	    	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	    	font-weight: 300;
	    	font-family: 'Open-Sans', 'Helvetica', 'Arial', sans-serif;
	    	text-align: center;
	    }
	}
	.header {
	    &__logo {
	    	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	        color: #f4f4f4;
	        &:hover {
	            color: #fff;
	        }
	    }
	}

	.nav {
	    &__link {
	    	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	        color: #fff;
	        &:hover {
	            color: #fff;
	        }
	        &:after {
	            background: #fff;
	        }
	    }    
	}
}

