
.work {
    width: 33%;
    position: relative;
    overflow: none;
    height: 119px;
    float: left;
    margin-top: -1px;
    transform-style: preserve-3d;
    &:hover {
        cursor: pointer;
    }
}

.work--active .work__preview {
    transform: rotate3d(1, 0, 0, 180deg);
}

.work--active .work__content {
    transform: rotate3d(1, 0, 0, 0deg);
}

.work__preview {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotate3d(1, 0, 0, 0deg);
    transition: transform 1s ease, box-shadow 0.35s ease;
    backface-visibility: hidden;
}

.work__preview::after {
    content: '';
    position: absolute;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.4s ease;
}

.work__preview:hover::after {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.work__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotate3d(1, 0, 0, 180deg);
    background: rgba(255, 255, 255, 0.5);
    transition: transform 1.1s ease;
}

.work__blured {
    filter: blur(3px);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.work__text {
    position: relative;
    padding: 0.5em 1em;
    font-size: 0.9rem;
    line-height: 1.4;
}
.work__textitem {
    margin: 0;
    color: #474747;
    line-height: 1.4;
}
.work__textitem b {
    font-weight: normal;
    color: #000;
    width: 3.4em;
    display: inline-block;
}

.work__link {
    color: #000;
    margin: 0.5em 0;
    display: inline-block;
    transition: all 0.3s ease;
}

.work__link:hover {
    color: #333;
    text-decoration: none;
}