.header {
    text-align: center;
    font-size: 1rem;
    padding: 1em 0 3em 0;
    @media (max-width:767px) {
        padding: 3em 1em;
    }
    &__logo {
        font-weight: bold;
        text-decoration: none;
        font-size: 1.17em;
        color: #333;
        float: left;
        &:hover {
            color: #000;
        }
    }
    &__nav {
        float: right;
    }
    &__divider {
        width: 20%;
        padding-top: 50px;
        margin: 0 auto;;
        display: block;
        clear: both;
        border-bottom: 1px solid #ccc;
    }
}
.nav {
    &__link {
        color: #444;
        transition: all .2s ease-in-out;
        text-decoration: none;
        margin-left: 1rem;
        position: relative;
        display: inline-block;
        padding: 3px 0 6px 0;
        &:hover {
            color: #000;
            text-decoration: none; 
            &:after {
                width: 100%;
                filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
                opacity: 1;
                -moz-transition-delay: 0s;
                -o-transition-delay: 0s;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }
        }
        &:after {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1px;
            height: 1px;
            background: #000;
            content: '';
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            transition: width 0.3s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.1s linear 0.3s;
            transition-delay: 0s, 0.3s;
        }

    }
            
}
    