.tags {
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.15rem;
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.tags__item {
  margin: 0.5em;
  font-size: 1.5rem;
  color: #ccc;
}

.tags__item:visited {
  color: #ccc;
}

