{% extends 'admin/base.html' %}
{% block head_css %}
    {{super()}}

    <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.css">
    <link rel="stylesheet" href="/static/css/admin.css?v=bad00c159a8471ae2b789d75ed81e2a">
{% endblock %}

{% block page_body %}
	{{super()}}
{% endblock %}

{% block menu_links %}
<ul class="nav navbar-nav navbar-right">
  {{super()}}
  {% if current_user.is_authenticated %}
  <li><a  href="{{ url_for('user.logout') }}">({{  current_user.name }}) logout</a></li>
  {% else %}
    <li><a  href="{{ url_for('user.login') }}">login</a></li>
  {% endif %}
</ul>
{% endblock %}

