.refs {
    padding: 0.5rem 0;
}

.refs__links {

}

.refs__links_desc {

}

.refs__link_itemlink {
  transition: all 0.2s ease-in-out;
  color: #333;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.3em;
}

.refs__link_itemlink:hover {
  border-color: #000;
  color: #000;
}



}

.refs__link_itemlink {
  
}

