.page--special .post__body {
	background: #fff;
	padding: 1em;
	margin-top: 4em;
}
.page--special .header {
	text-align: center;
}

.page--special .post__title {
	text-align: center;
	line-height: 1.1;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	font-family: 'Open-Sans', 'Helvetica', 'Arial', sans-serif;
	color: #fff;
	font-weight: 700;
	padding: 0 1em;
	margin: 10px 0;
}

.page--special .post__date {
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	font-weight: 300;
	font-family: 'Open-Sans', 'Helvetica', 'Arial', sans-serif;
	text-align: center;
}

.page--special .header__logo {
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	color: #f4f4f4;
}

.page--special .header__logo:hover {
	color: #fff;
}

.page--special .nav__link {
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.page--special .nav__link:hover {
	color: #fff;
}

.page--special .nav__link:after {
	background: #fff;
}

