.tags {
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.15rem;
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
}

.tags__item {
    margin: 0.5em;
    font-size: 1.5rem;
}

.tags__item:visited {
    color: #ccc;
}

